.container {
    display: flex;
    padding: 8px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 2px;
}

.button-container, #outermost-container, #operators-container {
    flex-direction: column;
}